.auth-page__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    
}